openapi: 3.1.0
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
info:
  title: UBAG REST API
  version: 0.1.0
  summary: Initial UBAG v1 REST contract.
  description: |
    Contract-first REST surface for UBAG v0/v1 workers. This file defines
    route stability, request and response envelopes, stable errors, and job
    event retrieval for the gateway, SDK, worker, CLI, and dashboard surfaces.
  license:
    name: Apache-2.0 for public contract artifacts
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://api.ubag.dev
    description: Public production API placeholder.
tags:
  - name: System
    description: Operational health, readiness, and version endpoints.
  - name: Jobs
    description: Job creation, retrieval, listing, and lifecycle events.
  - name: Events
    description: Cross-job event history and streaming entry points.
  - name: Workflows
    description: Workflow definitions and execution templates.
  - name: Templates
    description: Prompt, extraction, and normalization templates.
  - name: Targets
    description: Registered target adapters and browser automation destinations.
  - name: Apps
    description: Client applications allowed to submit work.
  - name: Devices
    description: Device enrollment and token surfaces.
  - name: Webhooks
    description: Signed callback destinations.
  - name: Cache
    description: Semantic and artifact cache visibility.
  - name: Audit
    description: Immutable operator and automation audit entries.
  - name: Observability
    description: Metrics and runtime telemetry.
  - name: Browser Topology
    description: Read-only multi-tab browser topology and adaptive concurrency observability.
  - name: Alerts
    description: Human-in-the-loop manual-action alerts and notification configuration.
  - name: OpenAICompat
    description: Drop-in OpenAI-compatible chat completions backed by UBAG jobs.
  - name: SSO
    description: Enterprise single sign-on (OIDC/SAML) configuration, callbacks, and session logout.
  - name: Antigravity
    description: Human-operated OAuth CLI sessions in isolated account workers.
  - name: Auth
    description: Personal access token (PAT) issuance and revocation.
  - name: MFA
    description: TOTP multi-factor enrollment and session verification.
  - name: Admin
    description: Region kill-switch control and just-in-time elevation grants.
  - name: Privacy
    description: Subject data export and erasure (GDPR Art. 15/17) requests.
  - name: SIEM
    description: SIEM sink configuration for audit export forwarding.
  - name: SCIM
    description: RFC 7644 user and group provisioning.
  - name: Rate Limits
    description: Configured per-action rate-limit policies.
security:
  - bearerAuth: []
paths:
  /v1/capabilities:
    get:
      tags: [Capabilities]
      operationId: listCapabilities
      summary: Discover per-target media and voice support.
      description: >-
        Publishes, per target, the attachment policy (same shape as
        /v1/adapters), the OpenAI-facade inline message-part formats
        intersected with that policy, live-voice support (from each adapter
        manifest's voice block), and the number of available voice accounts
        (topology contexts whose last worker-detected login state is
        authenticated). Advertisement is not a login guarantee:
        manual_login_required stays authoritative. Each record's voice object
        publishes supported (adapter declares live voice), configured (this
        gateway has the voice store, media plane and provider activation
        wired), verified (true only when a live acceptance run is recorded;
        verified_note carries the text), available (configured and a free
        authenticated account+environment exists now) and free_resources
        separately; live (= supported) and available_accounts
        (= free_resources) are legacy aliases. Requires the job:read action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: Capability records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/voice/sessions:
    get:
      tags: [Voice]
      operationId: listVoiceSessions
      summary: List this tenant's voice sessions.
      description: >-
        Returns voice sessions scoped to the authenticated tenant, newest
        first. Requires the job:read action. 501 when voice sessions are
        not configured on this gateway (UBAG_VOICE_STORE disabled).
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Limit"
        - name: target
          in: query
          required: false
          description: Filter by live target key.
          schema:
            type: string
      responses:
        "200":
          description: Voice sessions returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
    post:
      tags: [Voice]
      operationId: createVoiceSession
      summary: Create (reserve) a voice session.
      description: >-
        Reserves a voice session for a live-voice target. Each active session
        holds an EXCLUSIVE provider-account lease and an EXCLUSIVE
        browser/audio-environment lease (shared, atomic reservations - one
        live session per tenant+target+identity and per tenant browser
        instance). When no account+environment combination is free the
        session is created QUEUED (202) with no leases held; promote it via
        the connect action. Requires the job:create action; tenant and app
        scope come from the authenticated principal. Budgets: active
        sessions and the queued backlog are capped per tenant with explicit
        429 overload responses carrying retry guidance.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoiceSessionCreateRequest"
      responses:
        "201":
          description: Session created with leases claimed (connecting).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceSessionResponse"
        "202":
          description: Session created QUEUED (no leases held).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceSessionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          description: Voice-session budget reached (UBAG-VOICE-SESSION-LIMIT-003 or UBAG-VOICE-QUEUE-FULL-004). Carries a Retry-After header and retry_after_ms.
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/voice/sessions/{session_id}:
    get:
      tags: [Voice]
      operationId: getVoiceSession
      summary: Read one voice session's status.
      description: >-
        Tenant-scoped: a session from another tenant is indistinguishable
        from a nonexistent one (404). Requires the job:read action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Voice session returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceSessionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
    delete:
      tags: [Voice]
      operationId: terminateVoiceSession
      summary: Terminate a voice session and release its leases.
      description: >-
        Idempotent termination: releases the provider-account and
        browser-environment leases immediately and drops the media path (no
        wait for ICE). Requires the job:create action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Session terminated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceSessionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/voice/sessions/{session_id}/connect:
    post:
      tags: [Voice]
      operationId: connectVoiceSession
      summary: Negotiate the WebRTC media connection.
      description: >-
        Claims leases first when the session is queued (409 with retry
        guidance when nothing is free), hands the SDP offer to the gateway's
        media plane, and returns the answer with every ICE candidate
        embedded (HTTP-only signaling), the ICE servers to configure, and a
        short-lived media credential scoped to tenant+app+session. The
        client must send it as the first message on the "control" data
        channel ({"op":"auth","credential":...}); control commands are
        ignored until authenticated. Requires the job:create action. Every
        action under /v1/voice/sessions/{session_id}/ (connect, mute, renew,
        terminate) is POST-only (405 with Allow otherwise); oversized bodies
        answer 413; a browser request with a disallowed Origin answers 403
        UBAG-AUTHZ-ORIGIN-005 (server-to-server calls send no Origin). Every
        429/503 carries a Retry-After header and retry_after_ms.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoiceSessionConnectRequest"
      responses:
        "200":
          description: Answer and media credential returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceSessionConnectResponse"
        "409":
          description: Session cannot connect (state or no free leases).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "501":
          $ref: "#/components/responses/NotImplemented"
        "503":
          description: Media plane cannot accept the connection (UBAG-VOICE-MEDIA-UNAVAILABLE-007).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/voice/sessions/{session_id}/mute:
    post:
      tags: [Voice]
      operationId: muteVoiceSession
      summary: Mute or unmute the session's microphone.
      description: >-
        Control channel for the session's mic direction; the provider still
        speaks while muted. Requires the job:create action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [muted]
              properties:
                muted:
                  type: boolean
      responses:
        "200":
          description: Mute state applied.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/voice/sessions/{session_id}/renew:
    post:
      tags: [Voice]
      operationId: renewVoiceSessionLease
      summary: Renew the session lease (client heartbeat).
      description: >-
        Extends the lease window so the sweeper does not reap a live
        session. A client that stops heart-beating without terminating
        cannot pin a provider account longer than the TTL. An expired or
        terminated session cannot be renewed (409). Requires the job:create
        action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Lease renewed.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/voice/sessions/{session_id}/terminate:
    post:
      tags: [Voice]
      operationId: terminateVoiceSessionPost
      summary: Terminate a voice session (POST form of DELETE).
      description: >-
        Idempotent termination identical to DELETE the session for clients
        that cannot issue DELETE. Requires the job:create action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Session terminated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceSessionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "501":
          $ref: "#/components/responses/NotImplemented"

  /v1/health:
    get:
      tags: [System]
      operationId: getHealth
      summary: Get shallow service health.
      description: Returns process-level health without checking downstream dependencies.
      security: []
      responses:
        "200":
          description: Service process is alive.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "500":
          $ref: "#/components/responses/InternalError"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/ready:
    get:
      tags: [System]
      operationId: getReadiness
      summary: Get dependency readiness.
      description: Returns readiness for accepting job traffic, including required dependencies.
      security: []
      responses:
        "200":
          description: Service is ready to accept traffic.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadinessStatus"
        "503":
          description: Service is alive but not ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/version:
    get:
      tags: [System]
      operationId: getVersion
      summary: Get gateway version information.
      security: []
      responses:
        "200":
          description: Version metadata for the running gateway.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionStatus"
        "500":
          $ref: "#/components/responses/InternalError"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/metrics:
    get:
      tags: [Observability]
      operationId: getMetrics
      summary: Get Prometheus gateway metrics.
      description: Includes gateway HTTP, readiness, job, SSE, queue dispatch, and worker execution metric families without per-job labels.
      security: []
      responses:
        "200":
          description: Prometheus text exposition.
          content:
            text/plain:
              schema:
                type: string
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/events:
    get:
      tags: [Events]
      operationId: listEvents
      summary: List cross-job events.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Event records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/stream:
    get:
      tags: [Events]
      operationId: streamEventsWebSocket
      summary: Open the WebSocket event stream.
      responses:
        "101":
          description: WebSocket upgrade accepted.
        "426":
          description: Request must use a WebSocket upgrade.
          headers:
            Upgrade:
              description: Required protocol.
              schema:
                type: string
                const: websocket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/workflows:
    get:
      tags: [Workflows]
      operationId: listWorkflows
      summary: List workflow definitions.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Workflow records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags: [Workflows]
      operationId: createWorkflow
      summary: Create a workflow definition.
      description: |-
        Creates a multi-step workflow definition. Steps run in topological
        order: a step lists the step IDs it depends on in `depends_on`; steps
        with an empty list follow the previous step (linear chain). Cyclic or
        dangling dependencies are rejected with UBAG-VALIDATION-WORKFLOW-DEPENDENCY-001.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkflowCreateRequest"
      responses:
        "201":
          description: Workflow definition created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowDefinition"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "409":
          description: Idempotency key conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/templates:
    get:
      tags: [Templates]
      operationId: listTemplates
      summary: List templates.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Template records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/targets:
    get:
      tags: [Targets]
      operationId: listTargets
      summary: List configured targets.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Target records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/adapters:
    get:
      tags: [Targets]
      operationId: listAdapters
      summary: List adapter manifests.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Adapter records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/apps:
    get:
      tags: [Apps]
      operationId: listApps
      summary: List client applications.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: App records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/devices:
    get:
      tags: [Devices]
      operationId: listDevices
      summary: List enrolled devices.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Device records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/webhooks:
    get:
      tags: [Webhooks]
      operationId: listWebhooks
      summary: List webhook destinations.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Webhook records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/webhooks/replay:
    post:
      tags: [Webhooks]
      operationId: replayWebhookDelivery
      summary: Replay a webhook delivery.
      description: Idempotently requests replay of a prior webhook delivery and records an audit event.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookReplayRequest"
      responses:
        "202":
          description: Webhook replay accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookReplayResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Idempotency key conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/cache:
    get:
      tags: [Cache]
      operationId: getCacheStatus
      summary: Get cache status and visible entries.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: Cache status returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CacheStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/audit:
    get:
      tags: [Audit]
      operationId: listAuditEvents
      summary: List audit events.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Audit records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/audit/export:
    post:
      tags: [Audit]
      operationId: exportAudit
      summary: Export the tenant audit chain and forward to configured SIEM sinks.
      description: >-
        Reads the tenant's tamper-evident audit chain (optionally bounded by
        since, until, and limit), verifies hash-chain integrity, and forwards
        records to any configured SIEM sinks. Returns 200 for a persistence-only
        read or 202 when an asynchronous SIEM exporter accepts the batch.
        Requires the data:export action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuditExportRequest"
      responses:
        "200":
          description: Audit chain exported (persistence-only read).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditExportResult"
        "202":
          description: Audit export accepted for asynchronous SIEM forwarding.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditExportResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/alerts:
    get:
      tags: [Alerts]
      operationId: listAlerts
      summary: List human-in-the-loop manual-action alerts.
      description: >-
        Returns manual-action alerts (CAPTCHA, manual login, or verification
        challenges) raised when a worker reports a job needs a human to act in
        the live browser session. Requires the alerts:read action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Limit"
        - name: status
          in: query
          required: false
          description: Filter by alert lifecycle status.
          schema:
            type: string
            enum: [open, notified, acknowledged, resolved, expired]
      responses:
        "200":
          description: Alert records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/alerts/config:
    get:
      tags: [Alerts]
      operationId: getAlertConfig
      summary: Return the alert notification configuration (secret-free).
      description: >-
        Returns the sink type, SMTP host (never credentials), store kind, and
        recipient summary used for manual-action notifications.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: Alert configuration summary (secret-free).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertConfig"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/alerts/{alert_id}/acknowledge:
    post:
      tags: [Alerts]
      operationId: acknowledgeAlert
      summary: Acknowledge a manual-action alert.
      description: >-
        Marks an alert as acknowledged by an operator picking it up. Requires
        the alerts:manage action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - name: alert_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Alert acknowledged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertMutationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/alerts/{alert_id}/resolve:
    post:
      tags: [Alerts]
      operationId: resolveAlert
      summary: Resolve a manual-action alert.
      description: >-
        Marks an alert as resolved once the human has solved the challenge in
        the live browser session and the flow can resume. Requires the
        alerts:manage action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - name: alert_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Alert resolved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertMutationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/conversations:
    get:
      tags: [Jobs]
      operationId: listConversations
      summary: List conversation thread bindings.
      description: >-
        Returns conversation bindings that map a caller-owned conversation key to
        a provider chat thread for the authenticated tenant. Read-only job
        metadata. Requires the job:read action. Returns 501 when the gateway does
        not have conversations enabled.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Conversation bindings returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/browser/instances:
    get:
      tags: [Browser Topology]
      operationId: listBrowserInstances
      summary: List browser engine instances.
      description: >-
        Returns the browser engine instances registered by the worker fleet for
        the authenticated tenant. Read-only observability. Requires the
        browser:read action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Limit"
        - name: state
          in: query
          required: false
          description: Filter by instance lifecycle state.
          schema:
            type: string
      responses:
        "200":
          description: Browser instances returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrowserInstanceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/browser/contexts:
    get:
      tags: [Browser Topology]
      operationId: listProviderContexts
      summary: List provider browser contexts.
      description: >-
        Returns the provider contexts (per target+identity isolated browser
        contexts) for the tenant. The storage-state URI is never exposed; only
        the has_storage_state boolean is returned. Requires the browser:read
        action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Limit"
        - name: instance_id
          in: query
          required: false
          description: Filter by parent browser instance.
          schema:
            type: string
      responses:
        "200":
          description: Provider contexts returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderContextListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/browser/tabs:
    get:
      tags: [Browser Topology]
      operationId: listBrowserTabs
      summary: List browser tabs.
      description: >-
        Returns the browser tabs for the tenant. Tabs are tenant-scoped via
        their parent provider context. Requires the browser:read action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Limit"
        - name: context_id
          in: query
          required: false
          description: Filter by parent provider context.
          schema:
            type: string
        - name: state
          in: query
          required: false
          description: Filter by tab lifecycle state.
          schema:
            type: string
      responses:
        "200":
          description: Browser tabs returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrowserTabListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/browser/summary:
    get:
      tags: [Browser Topology]
      operationId: getBrowserTopologySummary
      summary: Aggregate browser topology counts.
      description: >-
        Returns aggregate counts of the tenant's browser topology grouped by
        lifecycle state. Requires the browser:read action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: Browser topology summary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrowserTopologySummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/concurrency:
    get:
      tags: [Browser Topology]
      operationId: listConcurrencyCeilings
      summary: List adaptive concurrency ceilings.
      description: >-
        Returns the latest adaptive (AIMD) concurrency ceilings reported by the
        worker fleet for the tenant. The gateway is read-only here and never
        computes or mutates AIMD state. Requires the concurrency:read action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: Concurrency ceilings returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConcurrencyListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/sso/config:
    get:
      tags: [SSO]
      operationId: getSSOConfig
      summary: Get the tenant SSO configuration (secret-free).
      description: >-
        Returns the OIDC and SAML configurations registered for the tenant. Only
        secret references and public IdP certificates are returned; plaintext
        client secrets are never exposed. Requires the role:manage action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: SSO configuration returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSOConfigResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "501":
          $ref: "#/components/responses/NotImplemented"
    put:
      tags: [SSO]
      operationId: putSSOConfig
      summary: Upsert the tenant OIDC or SAML configuration.
      description: >-
        Registers or replaces the tenant's OIDC or SAML configuration. Secret
        material is supplied by reference only. Requires the role:manage action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SSOConfigRequest"
      responses:
        "200":
          description: SSO configuration upserted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSOConfigResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/sso/oidc/callback:
    post:
      tags: [SSO]
      operationId: ssoOIDCCallback
      summary: Verify an OIDC id_token and resolve a principal.
      description: >-
        Verifies the supplied OIDC id_token against the tenant IdP and maps a
        principal. When session management is enabled, mints a server-side
        session, returns session_token and session_expires_at, and sets an
        HttpOnly, Secure session cookie.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SSOCallbackRequest"
      responses:
        "200":
          description: Principal resolved.
          headers:
            Set-Cookie:
              description: HttpOnly, Secure session cookie set when session management is enabled.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSOSession"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/sso/saml/acs:
    post:
      tags: [SSO]
      operationId: ssoSAMLAssertion
      summary: Verify a SAML assertion and resolve a principal.
      description: >-
        Parses and verifies the supplied SAML assertion against the tenant IdP
        signing certificate and maps a principal. When session management is
        enabled, mints a server-side session, returns session_token and
        session_expires_at, and sets an HttpOnly, Secure session cookie.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SSOCallbackRequest"
      responses:
        "200":
          description: Principal resolved.
          headers:
            Set-Cookie:
              description: HttpOnly, Secure session cookie set when session management is enabled.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSOSession"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/sso/logout:
    post:
      tags: [SSO]
      operationId: ssoLogout
      summary: Revoke the current session and clear the session cookie.
      description: >-
        Idempotently revokes the session presented via the session cookie or
        bearer token and clears the session cookie. Revoking an unknown or
        already-revoked session returns revoked=false with HTTP 200.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: Logout processed (idempotent).
          headers:
            Set-Cookie:
              description: Expired session cookie that clears the client session.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogoutResult"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/jobs:
    get:
      tags: [Jobs]
      operationId: listJobs
      summary: List jobs.
      description: Returns a cursor-paginated list of jobs visible to the caller.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - name: filter[status]
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/JobStatus"
          description: Filter jobs by current status.
        - name: filter[target]
          in: query
          required: false
          schema:
            type: string
            pattern: "^[a-z0-9][a-z0-9._-]*$"
          description: Filter jobs by target adapter key.
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [created_at, -created_at]
            default: -created_at
      responses:
        "200":
          description: Jobs returned.
          headers:
            Ubag-Api-Version-Used:
              $ref: "#/components/headers/UbagApiVersionUsed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags: [Jobs]
      operationId: createJob
      summary: Create a job.
      description: |
        Creates or replays a job submission. Idempotency-Key is required for
        raw REST calls and must match requestBody.idempotency_key when both are present.
        Executable payload sections are rejected before storage or executor dispatch
        when they contain credentials, cookies, tokens, API keys, browser session
        state, client-supplied noVNC URLs, private keys, MFA/TOTP material, or
        CAPTCHA-solving instructions.

        Attachments (documents/images/audio/video/voice) are supported two ways:
        - **Key-reference (application/json):** declare files in `job.input.attachments`
          (each `{key, content_type, kind}`), then upload the bytes with
          `PUT /v1/jobs/{job_id}/artifacts/{key}`. The job is held (status `created`)
          and only dispatches once every declared key has been uploaded.
        - **Multipart one-shot (multipart/form-data):** send the `job` JSON envelope as
          the first part, then one binary file part per declared attachment whose part
          field name equals the attachment `key`. The job is born complete and dispatches
          immediately.

        Each attachment's actual multipart/upload MIME type must exactly match its
        declared `content_type`, which is validated against the target adapter's
        attachments policy (see `GET /v1/adapters`); a target with no policy rejects
        attachments. The hard manifest ceiling is 32 files. The currently exposed
        ChatGPT, Gemini, and DeepSeek dashboard targets allow 10 files, 32 MiB per
        file, and a derived 320 MiB total.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobRequest"
            examples:
              basicJob:
                summary: Accepted browser automation job.
                value:
                  api_version: "2026-05-22"
                  idempotency_key: 01HXY5ZS3KAFQ3PZ8NQ8C7H1AT
                  client:
                    app_id: radiology-reporting-windows
                    app_version: 1.4.2
                    device_id: dev_01HX
                    user_ref: user@example.com
                    sdk:
                      name: ubag-dotnet
                      version: 2.0.1
                  job:
                    target: deepseek_web
                    command_type: medical_report_generation
                    conversation_id: conv_123
                    template_id: radiology_ct_brain_v3
                    not_before: "2026-07-01T09:30:00Z"
                    input: {}
                    options:
                      priority: normal
                      timeout_seconds: 180
                      return_mode: accepted
                      response_formats: [markdown, plain_text]
                      retry_policy: default
                      cache_policy: semantic_30d
                    callbacks:
                      webhook_url: https://app.example.com/ubag/callback
                      webhook_secret_id: wh_sec_abc
                    context:
                      locale: en-GB
                      tags: [radiology]
                      cost_center: rad-dept
          multipart/form-data:
            schema:
              type: object
              required: [job]
              properties:
                job:
                  $ref: "#/components/schemas/JobRequest"
              additionalProperties:
                type: string
                format: binary
                description: >-
                  One binary file part per declared attachment. The part field
                  name MUST equal the corresponding job.input.attachments[].key.
            encoding:
              job:
                contentType: application/json
      responses:
        "202":
          description: Job accepted or idempotent response replayed.
          headers:
            Location:
              description: URL of the created or replayed job.
              schema:
                type: string
                examples: [/v1/jobs/job_01HXY5ZS3KAFQ3PZ8NQ8C7H1AU]
            Ubag-Api-Version-Used:
              $ref: "#/components/headers/UbagApiVersionUsed"
            Ubag-Trace-Id:
              $ref: "#/components/headers/UbagTraceId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Idempotency key conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: A multipart attachment exceeds its 32 MiB per-file limit or the policy-derived total limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Job request failed schema or command validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/jobs/{job_id}:
    get:
      tags: [Jobs]
      operationId: getJob
      summary: Get a job by ID.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: Job found.
          headers:
            Ubag-Api-Version-Used:
              $ref: "#/components/headers/UbagApiVersionUsed"
            Ubag-Trace-Id:
              $ref: "#/components/headers/UbagTraceId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/jobs/{job_id}/events:
    get:
      tags: [Jobs]
      operationId: listJobEvents
      summary: List historical events for a job.
      description: Returns a cursor-paginated event log. Live SSE streaming is a separate transport surface.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/JobId"
        - $ref: "#/components/parameters/JobEventCursor"
        - $ref: "#/components/parameters/Limit"
        - name: after_sequence
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          description: Return events with sequence greater than this value.
      responses:
        "200":
          description: Events returned.
          headers:
            Ubag-Api-Version-Used:
              $ref: "#/components/headers/UbagApiVersionUsed"
            Ubag-Trace-Id:
              $ref: "#/components/headers/UbagTraceId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobEventListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/jobs/{job_id}/artifacts:
    get:
      tags: [Jobs]
      operationId: listJobArtifacts
      summary: List artifacts for a job.
      description: Returns gateway-owned artifact metadata visible to the caller. Internal storage bucket names are not exposed.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: Artifact metadata returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/jobs/{job_id}/artifacts/{key}:
    put:
      tags: [Jobs]
      operationId: putJobArtifact
      summary: Upload or replace a job artifact.
      description: Stores artifact bytes for a visible job. Artifact keys are single path segments. The gateway computes SHA-256 metadata and enforces a 32 MiB upload limit.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/JobId"
        - $ref: "#/components/parameters/ArtifactKey"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
          text/plain:
            schema:
              type: string
      responses:
        "201":
          description: Artifact stored.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "409":
          description: Idempotency key conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Artifact body exceeds the gateway upload limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    get:
      tags: [Jobs]
      operationId: getJobArtifact
      summary: Download a job artifact.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/JobId"
        - $ref: "#/components/parameters/ArtifactKey"
      responses:
        "200":
          description: Artifact bytes.
          headers:
            Ubag-Artifact-Checksum:
              description: Hex-encoded SHA-256 checksum computed by the gateway.
              schema:
                type: string
            X-Content-Type-Options:
              description: Always set to nosniff for untrusted artifact downloads.
              schema:
                type: string
                const: nosniff
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            text/plain:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      tags: [Jobs]
      operationId: deleteJobArtifact
      summary: Delete a job artifact.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/JobId"
        - $ref: "#/components/parameters/ArtifactKey"
      responses:
        "204":
          description: Artifact deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "409":
          description: Idempotency key conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/jobs/{job_id}/cancel:
    post:
      tags: [Jobs]
      operationId: cancelJob
      summary: Cancel a job.
      description: Idempotently requests cooperative cancellation for a non-terminal job.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/JobId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobMutationRequest"
      responses:
        "200":
          description: Existing cancellation response replayed or job cancelled by the gateway skeleton.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "202":
          description: Cancellation accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Idempotency key conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/jobs/{job_id}/retry:
    post:
      tags: [Jobs]
      operationId: retryJob
      summary: Retry a job.
      description: Idempotently creates a replacement queued job linked to the original job.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/JobId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobMutationRequest"
      responses:
        "202":
          description: Retry job accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Idempotency key conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/sse/jobs/{job_id}:
    get:
      tags: [Jobs]
      operationId: streamJobEventsSse
      summary: Stream live job events over SSE.
      description: |
        Streams newline-delimited Server-Sent Events from the durable job event log.
        v0 emits gateway lifecycle events; workers append token, artifact, and terminal
        events through the same event envelope.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: SSE event stream opened.
          content:
            text/event-stream:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/openai/chat/completions:
    post:
      tags: [OpenAICompat]
      operationId: createOpenAIChatCompletion
      summary: Create an OpenAI-compatible chat completion.
      description: |
        Synchronous OpenAI-compatible chat completion backed by a UBAG job.
        The gateway creates a native job (target derived from `model`), waits
        for its terminal state up to the configured facade deadline
        (UBAG_FACADE_MAX_WAIT_MS, default 240000 ms), and returns an OpenAI
        `chat.completion` object. `model` is a UBAG target key (for example
        `chatgpt_web`) or `target|setting` (for example
        `chatgpt_web|GPT-5.6 Sol`); the available values are listed by
        GET /v1/openai/models. `stream:true` and tools/function calling are
        rejected: UBAG has no end-to-end token streaming and no tool protocol.
        `response_format` serves JSON coercion only (`json_object` /
        `json_schema`: the completion text is reduced to its first parseable
        JSON value, and the call fails loudly when nothing parses); any other
        shape is rejected. Multimodal content parts are rejected — send files
        via `ubag_attachments` (below) or multipart to POST /v1/jobs instead.
        Message history is flattened into one
        prompt (system messages first, then turns in order); there is no
        role-aware tool/result interpretation. File attachments
        (PDF/image/audio/video/voice) are supported: declare them in
        `ubag_attachments` (each `{key, content_type, kind, [filename]}`).
        A declaring call answers 202 with the held `ubag_job_id`; upload each
        key with `PUT /v1/jobs/{ubag_job_id}/artifacts/{key}` and the job
        dispatches once every declared key lands — then poll
        `GET /v1/jobs/{ubag_job_id}` or replay the same facade body to
        resolve the chat.completion. Declarations are validated against the
        target adapter's attachments policy (see GET /v1/adapters); a target
        with no policy rejects attachments. The provider web UI processes
        the files and its answer becomes the completion text. A multipart
        one-shot to POST /v1/jobs (first part `job` = this envelope, then one
        file part per declared key) dispatches immediately instead. Token usage is estimated from
        character counts because browser workers report DOM deltas, not model
        tokens. When the deadline expires first the facade answers 504 with
        the ubag_job_id so the caller can poll the native job API. Retrying
        an identical body replays the same job: the facade derives the native
        idempotency key from the caller principal plus the request hash
        (including attachment declarations).
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpenAIChatCompletionRequest"
      responses:
        "200":
          description: Completion finished within the facade deadline.
          headers:
            Ubag-Api-Version-Used:
              $ref: "#/components/headers/UbagApiVersionUsed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIChatCompletionResponse"
        "202":
          description: Attachment-declaring call accepted; the native job is held until every declared artifact key is uploaded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIChatCompletionAccepted"
        "400":
          description: Rejected request (streaming, tools, unknown model, empty messages).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "401":
          description: Missing or invalid credential.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "429":
          description: Queue backpressure or concurrency ceiling.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "500":
          description: Job creation or dispatch failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "503":
          description: Provider unavailable (login required, adapter drift, region draining).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "504":
          description: Facade deadline expired before the job reached a terminal state; ubag_job_id identifies the still-running job.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
  /v1/openai/models:
    get:
      tags: [OpenAICompat]
      operationId: listOpenAIModels
      summary: List OpenAI-compatible model IDs.
      description: |
        Lists the model IDs accepted by POST /v1/openai/chat/completions: one
        entry per UBAG target plus one `target|setting` entry per
        caller-selectable model-catalog value. Entries mirror the same adapter
        manifests the native create path validates against.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: Model list returned.
          headers:
            Ubag-Api-Version-Used:
              $ref: "#/components/headers/UbagApiVersionUsed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIModelList"
        "401":
          description: Missing or invalid credential.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "429":
          description: Rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "500":
          description: Model catalog could not be read.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
  /v1/openai/audio/transcriptions:
    post:
      tags: [OpenAICompat]
      operationId: createOpenAITranscription
      summary: Transcribe audio via a held native job.
      description: |
        OpenAI-shaped multipart upload (`file` audio part + optional
        `model`/`language`/`prompt` fields) bridged onto one native job with
        the audio attached as a `voice` artifact. The provider web UI does the
        listening; the gateway answers `{text, ubag_job_id}` once the job is
        terminal, or 504 with the job ID when the facade deadline expires
        first. `model: whisper-1` (or blank) selects the operator-default
        live target; a bare UBAG target pins the provider. Audio MIME types
        are allowlisted (webm/wav/mpeg/mp4/ogg); the part is capped at 24 MiB.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                model:
                  type: string
                language:
                  type: string
                prompt:
                  type: string
      responses:
        "200":
          description: Transcription finished within the facade deadline.
          headers:
            Ubag-Api-Version-Used:
              $ref: "#/components/headers/UbagApiVersionUsed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAITranscriptionResponse"
        "400":
          description: Rejected upload (missing file, unsupported audio type, malformed multipart).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "401":
          description: Missing or invalid credential.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "413":
          description: Audio part exceeds the 24 MiB transcription limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "429":
          description: Queue backpressure or concurrency ceiling.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "500":
          description: Job creation, dispatch, or transcript extraction failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "503":
          description: Provider unavailable (login required, adapter drift, region draining).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "504":
          description: Facade deadline expired before the job reached a terminal state; ubag_job_id identifies the still-running job.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
  /v1/openai/embeddings:
    post:
      tags: [OpenAICompat]
      operationId: createOpenAIEmbedding
      summary: Deterministic hash embeddings in the OpenAI shape.
      description: |
        Accepts the OpenAI embeddings request shape (`model`, `input` as a
        string or array of strings, optional `dimensions` 1..1536) and answers
        in the exact OpenAI embeddings response shape. The vectors are
        deterministic SHA-256-chained unit vectors, NOT semantic embeddings:
        no model runs, so cosine neighbours mean "same bytes", never "same
        meaning". At most 20 inputs per call. Callers that need semantic
        retrieval must keep a real embedding provider.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpenAIEmbeddingRequest"
      responses:
        "200":
          description: Embeddings computed.
          headers:
            Ubag-Api-Version-Used:
              $ref: "#/components/headers/UbagApiVersionUsed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIEmbeddingResponse"
        "400":
          description: Rejected request (missing model, empty input, too many inputs, bad dimensions).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "401":
          description: Missing or invalid credential.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "429":
          description: Rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
        "500":
          description: Embedding computation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAIErrorResponse"
  /v1/antigravity/accounts:
    get:
      tags: [Antigravity]
      operationId: listAntigravityAccounts
      summary: List tenant-owned CLI accounts and the result of each account's latest pinned canary.
      description: A completed canary proves a past account-backed request succeeded, not that OAuth is still valid now.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: Account metadata and canary verification state.
          content:
            application/json:
              schema:
                type: object
                required: [accounts]
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: "#/components/schemas/AntigravityAccount"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /v1/antigravity/accounts/{id}/login:
    parameters:
      - $ref: "#/components/parameters/UbagApiVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: "^acct_[0-9]+$"
    get:
      tags: [Antigravity]
      operationId: getAntigravityLoginSession
      summary: Poll the tenant-owned account's CLI login session.
      description: Requires role:manage. Authorization URL is transient; never use it as proof of sign-in. CLI output is not exposed.
      responses:
        "200":
          description: Current human-operated CLI session state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AntigravityLoginSession"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          description: The account worker returned an invalid or unsuccessful login response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: The isolated account worker is not available.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags: [Antigravity]
      operationId: postAntigravityLoginSession
      summary: Start an isolated CLI session or relay human terminal input.
      description: Requires role:manage. Starting a new sign-in clears previous canary verification. Input is sent once to the account worker and must not be logged or persisted by UBAG.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [action]
              properties:
                action:
                  type: string
                  enum: [start, input]
                input:
                  type: string
                  minLength: 1
                  maxLength: 128
                  pattern: "^[A-Za-z0-9-]+$"
      responses:
        "200":
          description: CLI session state after the requested human action.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AntigravityLoginSession"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          description: The account worker returned an invalid or unsuccessful login response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: The isolated account worker is not available.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags: [Antigravity]
      operationId: deleteAntigravityLoginSession
      summary: Stop and clear the isolated CLI login session.
      description: Requires role:manage. Does not delete the CLI's keyring credentials.
      responses:
        "200":
          description: CLI terminal stopped; output and authorization URL cleared.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AntigravityLoginSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          description: The account worker returned an invalid or unsuccessful login response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: The isolated account worker is not available.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/jobs/batch:
    post:
      tags: [Jobs]
      operationId: createJobBatch
      summary: Create up to 100 jobs in one request.
      description: |-
        Accepts up to 100 job submissions in one HTTP round-trip and returns an
        outcome per entry. Individual failures do not abort the batch: each
        entry carries its own accepted/rejected status and error. Requires a
        batch-level Idempotency-Key (header) or idempotency_key body field;
        entries without an explicit key derive theirs deterministically from
        the batch key so a retried batch stays idempotent per entry. Answers
        202 when every entry was accepted and 207 (multi-status) otherwise.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchCreateJobRequest"
      responses:
        "202":
          description: Every batch entry was accepted.
          headers:
            Ubag-Api-Version-Used:
              $ref: "#/components/headers/UbagApiVersionUsed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchCreateJobResponse"
        "207":
          description: Multi-status; at least one batch entry was rejected.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchCreateJobResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "413":
          description: Batch body exceeds the gateway request body limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Queue backpressure; the whole batch was rejected up front.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/templates/{template_id}:
    get:
      tags: [Templates]
      operationId: getTemplate
      summary: Get a template by ID.
      description: Returns a tenant- or app-scoped template definition. Requires the job:read action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - name: template_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Template found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateGetResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/templates/{template_id}/render:
    post:
      tags: [Templates]
      operationId: renderTemplate
      summary: Render a template with the supplied variables.
      description: |-
        Renders the template body against the supplied vars map. The body is
        optional; an absent vars map renders with empty variables. Requires
        the job:read action. Answers 501 when the configured template store
        does not support rendering.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - name: template_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateRenderRequest"
      responses:
        "200":
          description: Rendered template text.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateRenderResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "413":
          description: Render body exceeds the gateway request body limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/workflows/{definition_id}/runs:
    post:
      tags: [Workflows]
      operationId: createWorkflowRun
      summary: Create and start a run of a workflow definition.
      description: |-
        Creates a run for an existing workflow definition and immediately
        advances it: each first-wave step becomes a regular gateway job
        dispatched through the executor. Requires the job:create action and an
        Idempotency-Key. The Location header points at the run resource.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
        - name: definition_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkflowRunCreateRequest"
      responses:
        "202":
          description: Workflow run created and advancing.
          headers:
            Location:
              description: URL of the workflow run.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRun"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/workflows/runs/{run_id}:
    get:
      tags: [Workflows]
      operationId: getWorkflowRun
      summary: Get a workflow run by ID.
      description: |-
        Returns the run state, its per-step states, and the job ID backing
        each step. Requires the job:read action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - name: run_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Workflow run found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRun"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/cache/invalidate:
    post:
      tags: [Cache]
      operationId: invalidateCacheByTag
      summary: Invalidate semantic cache entries by tag.
      description: |-
        Removes every semantic cache entry bearing the given tag for the
        caller's tenant. Cache purges are shared across the tenant, so this
        requires the rate_limit:manage action (MFA-gated when MFA is enabled).
        When no semantic cache is configured the gateway answers 200 with
        removed=0.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CacheInvalidateRequest"
      responses:
        "200":
          description: Invalidation processed; removed counts the dropped entries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CacheInvalidateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "413":
          description: Body exceeds the gateway request body limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/rate-limits:
    get:
      tags: [Rate Limits]
      operationId: listRateLimitPolicies
      summary: List the configured rate-limit policies.
      description: |-
        Returns the per-action limit/window/burst policies and whether
        enforcement is currently enabled. Requires the rate_limit:manage
        action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: Rate-limit policies returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /v1/siem/config:
    get:
      tags: [SIEM]
      operationId: getSIEMConfig
      summary: List configured SIEM sinks (secret-free).
      description: |-
        Returns the SIEM sink configurations registered for the tenant. Sink
        credential material is only ever returned as a secret reference.
        Requires the role:manage action (MFA-gated when MFA is enabled).
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: SIEM sinks returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SIEMConfigResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "501":
          $ref: "#/components/responses/NotImplemented"
    put:
      tags: [SIEM]
      operationId: putSIEMConfig
      summary: Create or replace a SIEM sink configuration.
      description: |-
        Upserts one SIEM sink (kind file, http, or syslog). Only secret
        references are accepted; plaintext credentials are rejected by payload
        policy. Requires the role:manage action (MFA-gated when MFA is
        enabled).
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SIEMSinkRequest"
      responses:
        "200":
          description: SIEM sink stored.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SIEMConfigResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "413":
          description: Body exceeds the gateway request body limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/scim/v2/Users:
    get:
      tags: [SCIM]
      operationId: listSCIMUsers
      summary: List SCIM users.
      description: |-
        RFC 7644 user listing with startIndex/count paging and a single-attr
        eq filter. Responses use application/scim+json and SCIM error shapes.
        Clients do not send Idempotency-Key; the gateway waives it for SCIM.
        Requires the role:manage action.
      parameters:
        - name: startIndex
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: count
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
        - name: filter
          in: query
          required: false
          description: SCIM filter expression; only a single eq comparison is implemented.
          schema:
            type: string
      responses:
        "200":
          description: SCIM list response.
          content:
            application/scim+json:
              schema:
                $ref: "#/components/schemas/SCIMListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "501":
          $ref: "#/components/responses/NotImplemented"
    post:
      tags: [SCIM]
      operationId: createSCIMUser
      summary: Create a SCIM user.
      description: Creates a SCIM user from an RFC 7643 core User resource. The password attribute is accepted on write only and is never returned. Requires the role:manage action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      requestBody:
        required: true
        content:
          application/scim+json:
            schema:
              $ref: "#/components/schemas/SCIMUser"
      responses:
        "201":
          description: SCIM user created.
          content:
            application/scim+json:
              schema:
                $ref: "#/components/schemas/SCIMUser"
[...]
