openapi: 3.1.0
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
info:
  title: UBAG REST API
  version: 0.1.0
  summary: Initial UBAG v1 REST contract.
  description: |
    Contract-first REST surface for UBAG v0/v1 workers. This file defines
    route stability, request and response envelopes, stable errors, and job
    event retrieval for the gateway, SDK, worker, CLI, and dashboard surfaces.
  license:
    name: Apache-2.0 for public contract artifacts
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://api.ubag.dev
    description: Public production API placeholder.
tags:
  - name: System
    description: Operational health, readiness, and version endpoints.
  - name: Jobs
    description: Job creation, retrieval, listing, and lifecycle events.
  - name: Events
    description: Cross-job event history and streaming entry points.
  - name: Workflows
    description: Workflow definitions and execution templates.
  - name: Templates
    description: Prompt, extraction, and normalization templates.
  - name: Targets
    description: Registered target adapters and browser automation destinations.
  - name: Apps
    description: Client applications allowed to submit work.
  - name: Devices
    description: Device enrollment and token surfaces.
  - name: Webhooks
    description: Signed callback destinations.
  - name: Cache
    description: Semantic and artifact cache visibility.
  - name: Audit
    description: Immutable operator and automation audit entries.
  - name: Observability
    description: Metrics and runtime telemetry.
  - name: Browser Topology
    description: Read-only multi-tab browser topology and adaptive concurrency observability.
  - name: Alerts
    description: Human-in-the-loop manual-action alerts and notification configuration.
  - name: SSO
    description: Enterprise single sign-on (OIDC/SAML) configuration, callbacks, and session logout.
security:
  - bearerAuth: []
paths:
  /v1/health:
    get:
      tags: [System]
      operationId: getHealth
      summary: Get shallow service health.
      description: Returns process-level health without checking downstream dependencies.
      security: []
      responses:
        "200":
          description: Service process is alive.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "500":
          $ref: "#/components/responses/InternalError"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/ready:
    get:
      tags: [System]
      operationId: getReadiness
      summary: Get dependency readiness.
      description: Returns readiness for accepting job traffic, including required dependencies.
      security: []
      responses:
        "200":
          description: Service is ready to accept traffic.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadinessStatus"
        "503":
          description: Service is alive but not ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/version:
    get:
      tags: [System]
      operationId: getVersion
      summary: Get gateway version information.
      security: []
      responses:
        "200":
          description: Version metadata for the running gateway.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionStatus"
        "500":
          $ref: "#/components/responses/InternalError"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/metrics:
    get:
      tags: [Observability]
      operationId: getMetrics
      summary: Get Prometheus gateway metrics.
      description: Includes gateway HTTP, readiness, job, SSE, queue dispatch, and worker execution metric families without per-job labels.
      security: []
      responses:
        "200":
          description: Prometheus text exposition.
          content:
            text/plain:
              schema:
                type: string
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/events:
    get:
      tags: [Events]
      operationId: listEvents
      summary: List cross-job events.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Event records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/stream:
    get:
      tags: [Events]
      operationId: streamEventsWebSocket
      summary: Open the WebSocket event stream.
      responses:
        "101":
          description: WebSocket upgrade accepted.
        "426":
          description: Request must use a WebSocket upgrade.
          headers:
            Upgrade:
              description: Required protocol.
              schema:
                type: string
                const: websocket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/workflows:
    get:
      tags: [Workflows]
      operationId: listWorkflows
      summary: List workflow definitions.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Workflow records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/templates:
    get:
      tags: [Templates]
      operationId: listTemplates
      summary: List templates.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Template records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/targets:
    get:
      tags: [Targets]
      operationId: listTargets
      summary: List configured targets.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Target records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/adapters:
    get:
      tags: [Targets]
      operationId: listAdapters
      summary: List adapter manifests.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Adapter records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/apps:
    get:
      tags: [Apps]
      operationId: listApps
      summary: List client applications.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: App records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/devices:
    get:
      tags: [Devices]
      operationId: listDevices
      summary: List enrolled devices.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Device records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/webhooks:
    get:
      tags: [Webhooks]
      operationId: listWebhooks
      summary: List webhook destinations.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Webhook records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/webhooks/replay:
    post:
      tags: [Webhooks]
      operationId: replayWebhookDelivery
      summary: Replay a webhook delivery.
      description: Idempotently requests replay of a prior webhook delivery and records an audit event.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookReplayRequest"
      responses:
        "202":
          description: Webhook replay accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookReplayResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Idempotency key conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/cache:
    get:
      tags: [Cache]
      operationId: getCacheStatus
      summary: Get cache status and visible entries.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: Cache status returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CacheStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/audit:
    get:
      tags: [Audit]
      operationId: listAuditEvents
      summary: List audit events.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Audit records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/audit/export:
    post:
      tags: [Audit]
      operationId: exportAudit
      summary: Export the tenant audit chain and forward to configured SIEM sinks.
      description: >-
        Reads the tenant's tamper-evident audit chain (optionally bounded by
        since, until, and limit), verifies hash-chain integrity, and forwards
        records to any configured SIEM sinks. Returns 200 for a persistence-only
        read or 202 when an asynchronous SIEM exporter accepts the batch.
        Requires the data:export action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuditExportRequest"
      responses:
        "200":
          description: Audit chain exported (persistence-only read).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditExportResult"
        "202":
          description: Audit export accepted for asynchronous SIEM forwarding.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditExportResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/alerts:
    get:
      tags: [Alerts]
      operationId: listAlerts
      summary: List human-in-the-loop manual-action alerts.
      description: >-
        Returns manual-action alerts (CAPTCHA, manual login, or verification
        challenges) raised when a worker reports a job needs a human to act in
        the live browser session. Requires the alerts:read action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Limit"
        - name: status
          in: query
          required: false
          description: Filter by alert lifecycle status.
          schema:
            type: string
            enum: [open, notified, acknowledged, resolved, expired]
      responses:
        "200":
          description: Alert records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/alerts/config:
    get:
      tags: [Alerts]
      operationId: getAlertConfig
      summary: Return the alert notification configuration (secret-free).
      description: >-
        Returns the sink type, SMTP host (never credentials), store kind, and
        recipient summary used for manual-action notifications.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: Alert configuration summary (secret-free).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertConfig"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/alerts/{alert_id}/acknowledge:
    post:
      tags: [Alerts]
      operationId: acknowledgeAlert
      summary: Acknowledge a manual-action alert.
      description: >-
        Marks an alert as acknowledged by an operator picking it up. Requires
        the alerts:manage action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - name: alert_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Alert acknowledged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertMutationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/alerts/{alert_id}/resolve:
    post:
      tags: [Alerts]
      operationId: resolveAlert
      summary: Resolve a manual-action alert.
      description: >-
        Marks an alert as resolved once the human has solved the challenge in
        the live browser session and the flow can resume. Requires the
        alerts:manage action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - name: alert_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Alert resolved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertMutationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/conversations:
    get:
      tags: [Jobs]
      operationId: listConversations
      summary: List conversation thread bindings.
      description: >-
        Returns conversation bindings that map a caller-owned conversation key to
        a provider chat thread for the authenticated tenant. Read-only job
        metadata. Requires the job:read action. Returns 501 when the gateway does
        not have conversations enabled.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Conversation bindings returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/browser/instances:
    get:
      tags: [Browser Topology]
      operationId: listBrowserInstances
      summary: List browser engine instances.
      description: >-
        Returns the browser engine instances registered by the worker fleet for
        the authenticated tenant. Read-only observability. Requires the
        browser:read action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Limit"
        - name: state
          in: query
          required: false
          description: Filter by instance lifecycle state.
          schema:
            type: string
      responses:
        "200":
          description: Browser instances returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrowserInstanceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/browser/contexts:
    get:
      tags: [Browser Topology]
      operationId: listProviderContexts
      summary: List provider browser contexts.
      description: >-
        Returns the provider contexts (per target+identity isolated browser
        contexts) for the tenant. The storage-state URI is never exposed; only
        the has_storage_state boolean is returned. Requires the browser:read
        action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Limit"
        - name: instance_id
          in: query
          required: false
          description: Filter by parent browser instance.
          schema:
            type: string
      responses:
        "200":
          description: Provider contexts returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderContextListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/browser/tabs:
    get:
      tags: [Browser Topology]
      operationId: listBrowserTabs
      summary: List browser tabs.
      description: >-
        Returns the browser tabs for the tenant. Tabs are tenant-scoped via
        their parent provider context. Requires the browser:read action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Limit"
        - name: context_id
          in: query
          required: false
          description: Filter by parent provider context.
          schema:
            type: string
        - name: state
          in: query
          required: false
          description: Filter by tab lifecycle state.
          schema:
            type: string
      responses:
        "200":
          description: Browser tabs returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrowserTabListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/browser/summary:
    get:
      tags: [Browser Topology]
      operationId: getBrowserTopologySummary
      summary: Aggregate browser topology counts.
      description: >-
        Returns aggregate counts of the tenant's browser topology grouped by
        lifecycle state. Requires the browser:read action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: Browser topology summary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrowserTopologySummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/concurrency:
    get:
      tags: [Browser Topology]
      operationId: listConcurrencyCeilings
      summary: List adaptive concurrency ceilings.
      description: >-
        Returns the latest adaptive (AIMD) concurrency ceilings reported by the
        worker fleet for the tenant. The gateway is read-only here and never
        computes or mutates AIMD state. Requires the concurrency:read action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: Concurrency ceilings returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConcurrencyListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/sso/config:
    get:
      tags: [SSO]
      operationId: getSSOConfig
      summary: Get the tenant SSO configuration (secret-free).
      description: >-
        Returns the OIDC and SAML configurations registered for the tenant. Only
        secret references and public IdP certificates are returned; plaintext
        client secrets are never exposed. Requires the role:manage action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: SSO configuration returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSOConfigResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "501":
          $ref: "#/components/responses/NotImplemented"
    put:
      tags: [SSO]
      operationId: putSSOConfig
      summary: Upsert the tenant OIDC or SAML configuration.
      description: >-
        Registers or replaces the tenant's OIDC or SAML configuration. Secret
        material is supplied by reference only. Requires the role:manage action.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SSOConfigRequest"
      responses:
        "200":
          description: SSO configuration upserted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSOConfigResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/sso/oidc/callback:
    post:
      tags: [SSO]
      operationId: ssoOIDCCallback
      summary: Verify an OIDC id_token and resolve a principal.
      description: >-
        Verifies the supplied OIDC id_token against the tenant IdP and maps a
        principal. When session management is enabled, mints a server-side
        session, returns session_token and session_expires_at, and sets an
        HttpOnly, Secure session cookie.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SSOCallbackRequest"
      responses:
        "200":
          description: Principal resolved.
          headers:
            Set-Cookie:
              description: HttpOnly, Secure session cookie set when session management is enabled.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSOSession"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/sso/saml/acs:
    post:
      tags: [SSO]
      operationId: ssoSAMLAssertion
      summary: Verify a SAML assertion and resolve a principal.
      description: >-
        Parses and verifies the supplied SAML assertion against the tenant IdP
        signing certificate and maps a principal. When session management is
        enabled, mints a server-side session, returns session_token and
        session_expires_at, and sets an HttpOnly, Secure session cookie.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SSOCallbackRequest"
      responses:
        "200":
          description: Principal resolved.
          headers:
            Set-Cookie:
              description: HttpOnly, Secure session cookie set when session management is enabled.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSOSession"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/sso/logout:
    post:
      tags: [SSO]
      operationId: ssoLogout
      summary: Revoke the current session and clear the session cookie.
      description: >-
        Idempotently revokes the session presented via the session cookie or
        bearer token and clears the session cookie. Revoking an unknown or
        already-revoked session returns revoked=false with HTTP 200.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
      responses:
        "200":
          description: Logout processed (idempotent).
          headers:
            Set-Cookie:
              description: Expired session cookie that clears the client session.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogoutResult"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "500":
          $ref: "#/components/responses/InternalError"
        "501":
          $ref: "#/components/responses/NotImplemented"
  /v1/jobs:
    get:
      tags: [Jobs]
      operationId: listJobs
      summary: List jobs.
      description: Returns a cursor-paginated list of jobs visible to the caller.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - name: filter[status]
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/JobStatus"
          description: Filter jobs by current status.
        - name: filter[target]
          in: query
          required: false
          schema:
            type: string
            pattern: "^[a-z0-9][a-z0-9._-]*$"
          description: Filter jobs by target adapter key.
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [created_at, -created_at]
            default: -created_at
      responses:
        "200":
          description: Jobs returned.
          headers:
            Ubag-Api-Version-Used:
              $ref: "#/components/headers/UbagApiVersionUsed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags: [Jobs]
      operationId: createJob
      summary: Create a job.
      description: |
        Creates or replays a job submission. Idempotency-Key is required for
        raw REST calls and must match requestBody.idempotency_key when both are present.
        Executable payload sections are rejected before storage or executor dispatch
        when they contain credentials, cookies, tokens, API keys, browser session
        state, client-supplied noVNC URLs, private keys, MFA/TOTP material, or
        CAPTCHA-solving instructions.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobRequest"
            examples:
              basicJob:
                summary: Accepted browser automation job.
                value:
                  api_version: "2026-05-22"
                  idempotency_key: 01HXY5ZS3KAFQ3PZ8NQ8C7H1AT
                  client:
                    app_id: radiology-reporting-windows
                    app_version: 1.4.2
                    device_id: dev_01HX
                    user_ref: user@example.com
                    sdk:
                      name: ubag-dotnet
                      version: 2.0.1
                  job:
                    target: deepseek_web
                    command_type: medical_report_generation
                    conversation_id: conv_123
                    template_id: radiology_ct_brain_v3
                    input: {}
                    options:
                      priority: normal
                      timeout_seconds: 180
                      return_mode: accepted
                      response_formats: [markdown, plain_text]
                      retry_policy: default
                      cache_policy: semantic_30d
                    callbacks:
                      webhook_url: https://app.example.com/ubag/callback
                      webhook_secret_id: wh_sec_abc
                    context:
                      locale: en-GB
                      tags: [radiology]
                      cost_center: rad-dept
      responses:
        "202":
          description: Job accepted or idempotent response replayed.
          headers:
            Location:
              description: URL of the created or replayed job.
              schema:
                type: string
                examples: [/v1/jobs/job_01HXY5ZS3KAFQ3PZ8NQ8C7H1AU]
            Ubag-Api-Version-Used:
              $ref: "#/components/headers/UbagApiVersionUsed"
            Ubag-Trace-Id:
              $ref: "#/components/headers/UbagTraceId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Idempotency key conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Job request failed schema or command validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/jobs/{job_id}:
    get:
      tags: [Jobs]
      operationId: getJob
      summary: Get a job by ID.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: Job found.
          headers:
            Ubag-Api-Version-Used:
              $ref: "#/components/headers/UbagApiVersionUsed"
            Ubag-Trace-Id:
              $ref: "#/components/headers/UbagTraceId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/jobs/{job_id}/events:
    get:
      tags: [Jobs]
      operationId: listJobEvents
      summary: List historical events for a job.
      description: Returns a cursor-paginated event log. Live SSE streaming is a separate transport surface.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/JobId"
        - $ref: "#/components/parameters/JobEventCursor"
        - $ref: "#/components/parameters/Limit"
        - name: after_sequence
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          description: Return events with sequence greater than this value.
      responses:
        "200":
          description: Events returned.
          headers:
            Ubag-Api-Version-Used:
              $ref: "#/components/headers/UbagApiVersionUsed"
            Ubag-Trace-Id:
              $ref: "#/components/headers/UbagTraceId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobEventListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/jobs/{job_id}/artifacts:
    get:
      tags: [Jobs]
      operationId: listJobArtifacts
      summary: List artifacts for a job.
      description: Returns gateway-owned artifact metadata visible to the caller. Internal storage bucket names are not exposed.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: Artifact metadata returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/jobs/{job_id}/artifacts/{key}:
    put:
      tags: [Jobs]
      operationId: putJobArtifact
      summary: Upload or replace a job artifact.
      description: Stores artifact bytes for a visible job. Artifact keys are single path segments. The gateway computes SHA-256 metadata and enforces a 32 MiB upload limit.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/JobId"
        - $ref: "#/components/parameters/ArtifactKey"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
          text/plain:
            schema:
              type: string
      responses:
        "201":
          description: Artifact stored.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "409":
          description: Idempotency key conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Artifact body exceeds the gateway upload limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    get:
      tags: [Jobs]
      operationId: getJobArtifact
      summary: Download a job artifact.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/JobId"
        - $ref: "#/components/parameters/ArtifactKey"
      responses:
        "200":
          description: Artifact bytes.
          headers:
            Ubag-Artifact-Checksum:
              description: Hex-encoded SHA-256 checksum computed by the gateway.
              schema:
                type: string
            X-Content-Type-Options:
              description: Always set to nosniff for untrusted artifact downloads.
              schema:
                type: string
                const: nosniff
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            text/plain:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      tags: [Jobs]
      operationId: deleteJobArtifact
      summary: Delete a job artifact.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/JobId"
        - $ref: "#/components/parameters/ArtifactKey"
      responses:
        "204":
          description: Artifact deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "409":
          description: Idempotency key conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/jobs/{job_id}/cancel:
    post:
      tags: [Jobs]
      operationId: cancelJob
      summary: Cancel a job.
      description: Idempotently requests cooperative cancellation for a non-terminal job.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/JobId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobMutationRequest"
      responses:
        "200":
          description: Existing cancellation response replayed or job cancelled by the gateway skeleton.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "202":
          description: Cancellation accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Idempotency key conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/jobs/{job_id}/retry:
    post:
      tags: [Jobs]
      operationId: retryJob
      summary: Retry a job.
      description: Idempotently creates a replacement queued job linked to the original job.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/JobId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobMutationRequest"
      responses:
        "202":
          description: Retry job accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Idempotency key conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/sse/jobs/{job_id}:
    get:
      tags: [Jobs]
      operationId: streamJobEventsSse
      summary: Stream live job events over SSE.
      description: |
        Streams newline-delimited Server-Sent Events from the durable job event log.
        v0 emits gateway lifecycle events; workers append token, artifact, and terminal
        events through the same event envelope.
      parameters:
        - $ref: "#/components/parameters/UbagApiVersion"
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: SSE event stream opened.
          content:
            text/event-stream:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: App-secret or token bearer credential issued by UBAG.
  parameters:
    UbagApiVersion:
      name: Ubag-Api-Version
      in: header
      required: false
      schema:
        type: string
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        examples: ["2026-05-22"]
      description: Requested behavior version. Request bodies with api_version must match this header.
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 16
        maxLength: 128
        pattern: "^[A-Za-z0-9._:-]+$"
        examples: ["01HXY5ZS3KAFQ3PZ8NQ8C7H1AT"]
      description: Required idempotency key for mutating routes.
    JobId:
      name: job_id
      in: path
      required: true
      schema:
        type: string
        pattern: "^job_[A-Za-z0-9]+$"
      description: UBAG job identifier.
    ArtifactKey:
      name: key
      in: path
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 512
        pattern: "^[^/\\\\]+$"
      description: Single path segment artifact key scoped to the job.
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
        minLength: 1
        maxLength: 512
      description: Opaque pagination cursor.
    JobEventCursor:
      name: cursor
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
      description: Numeric event sequence cursor alias for after_sequence. If both cursor and after_sequence are supplied, they must match.
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
      description: Maximum number of records to return.
  headers:
    UbagApiVersionUsed:
      description: Behavior version used for this response.
      schema:
        type: string
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        examples: ["2026-05-22"]
    UbagTraceId:
      description: Cross-component trace identifier.
      schema:
        type: string
        minLength: 1
        maxLength: 128
  responses:
    BadRequest:
      description: Request syntax, query, or header validation failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Missing or invalid caller credentials.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Caller is authenticated but not authorized for the tenant, app, resource, or action.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource was not found or is not visible to the caller.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    MethodNotAllowed:
      description: The route exists but does not allow this HTTP method.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    RateLimited:
      description: Caller exceeded an applicable rate limit.
      headers:
        Retry-After:
          description: Seconds until the caller should retry.
          schema:
            type: integer
            minimum: 0
        RateLimit-Limit:
          description: Maximum requests in the current window.
          schema:
            type: integer
            minimum: 0
        RateLimit-Remaining:
          description: Requests remaining in the current window.
          schema:
            type: integer
            minimum: 0
        RateLimit-Reset:
          description: Epoch seconds when the current rate-limit window resets.
          schema:
            type: integer
            minimum: 0
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalError:
      description: Unexpected service error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotImplemented:
      description: The route exists but its backing subsystem is not configured on this deployment.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    JobRequest:
      $ref: ../shared-schemas/schemas/job-request.schema.json
    JobResponse:
      $ref: ../shared-schemas/schemas/job-response.schema.json
    ErrorResponse:
      $ref: ../shared-schemas/schemas/error.schema.json
    JobEvent:
      $ref: ../shared-schemas/schemas/job-event.schema.json
    CollectionResponse:
      type: object
      additionalProperties: false
      required: [api_version, kind, data, next_cursor, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        kind:
          type: string
          enum:
            - events
            - workflows
            - templates
            - targets
            - adapters
            - apps
            - devices
            - webhooks
            - audit
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        next_cursor:
          type: ["string", "null"]
        trace_id:
          type: string
          minLength: 1
    Alert:
      type: object
      additionalProperties: true
      required: [alert_id, tenant_id, app_id, job_id, kind, status, created_at]
      properties:
        alert_id:
          type: string
        tenant_id:
          type: string
        app_id:
          type: string
        job_id:
          type: string
        session_id:
          type: string
        target_id:
          type: string
        kind:
          type: string
          description: Manual-action kind, e.g. captcha, manual_login, or verification.
        message:
          type: string
        status:
          type: string
          enum: [open, notified, acknowledged, resolved, expired]
        created_at:
          type: string
          format: date-time
        notified_at:
          type: string
          format: date-time
        acknowledged_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
        attributes:
          type: object
          additionalProperties: true
    AlertListResponse:
      type: object
      additionalProperties: false
      required: [api_version, kind, data, next_cursor, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        kind:
          type: string
          const: alerts
        data:
          type: array
          items:
            $ref: "#/components/schemas/Alert"
        next_cursor:
          type: ["string", "null"]
        trace_id:
          type: string
          minLength: 1
    AlertMutationResponse:
      type: object
      additionalProperties: false
      required: [api_version, kind, data, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        kind:
          type: string
          const: alert
        data:
          $ref: "#/components/schemas/Alert"
        trace_id:
          type: string
          minLength: 1
    AlertConfig:
      type: object
      additionalProperties: false
      description: >-
        Secret-free description of the alerting configuration. SMTP credentials
        and any password field are intentionally absent.
      required: [api_version, kind, sink_type, smtp_configured, recipient_count, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        kind:
          type: string
          const: alert_config
        sink_type:
          type: string
        smtp_configured:
          type: boolean
        smtp_host:
          type: string
          description: SMTP host only; credentials are never included.
        store_kind:
          type: string
        recipient_count:
          type: integer
          minimum: 0
        recipients:
          type: array
          items:
            type: string
        trace_id:
          type: string
          minLength: 1
    ConversationListResponse:
      type: object
      additionalProperties: false
      required: [api_version, conversations]
      properties:
        api_version:
          type: string
        conversations:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [tenant_id, app_id, target, conversation_key, state, created_at, last_used_at]
            properties:
              tenant_id:
                type: string
              app_id:
                type: string
              target:
                type: string
              conversation_key:
                type: string
              provider_thread_ref:
                type: string
                description: Provider chat URL. Never contains session or credential material.
              state:
                type: string
                enum: [active, broken]
              created_at:
                type: string
                format: date-time
              last_used_at:
                type: string
                format: date-time
              last_job_id:
                type: string
        next_cursor:
          type: ["string", "null"]
    BrowserInstance:
      type: object
      additionalProperties: false
      required: [instance_id, worker_id, tenant_id, engine, state, context_count, tab_count, created_at]
      properties:
        instance_id:
          type: string
        worker_id:
          type: string
        tenant_id:
          type: string
        engine:
          type: string
        remote_endpoint:
          type: string
        state:
          type: string
        context_count:
          type: integer
          minimum: 0
        tab_count:
          type: integer
          minimum: 0
        rss_bytes:
          type: integer
          minimum: 0
        created_at:
          type: string
          format: date-time
        recycle_at:
          type: string
          format: date-time
    ProviderContext:
      type: object
      additionalProperties: false
      description: >-
        Isolated browser context bound to a provider target and identity. The
        storage-state URI is redacted: only the has_storage_state boolean is
        exposed (INV-5 redaction). storage_state_uri is never present.
      required: [context_id, instance_id, tenant_id, target_id, identity_ref, login_state, conversation_model, has_storage_state, max_tabs, created_at]
      properties:
        context_id:
          type: string
        instance_id:
          type: string
        tenant_id:
          type: string
        target_id:
          type: string
        identity_ref:
          type: string
        login_state:
          type: string
        conversation_model:
          type: string
        fingerprint_id:
          type: string
        proxy_id:
          type: string
        has_storage_state:
          type: boolean
          description: Whether a persisted storage state exists. The URI itself is never exposed.
        max_tabs:
          type: integer
          minimum: 0
        created_at:
          type: string
          format: date-time
        last_health_at:
          type: string
          format: date-time
        recycle_at:
          type: string
          format: date-time
    BrowserTab:
      type: object
      additionalProperties: false
      required: [tab_id, context_id, state, jobs_completed, created_at]
      properties:
        tab_id:
          type: string
        context_id:
          type: string
        state:
          type: string
        conversation_id:
          type: string
        current_job_id:
          type: string
        jobs_completed:
          type: integer
          minimum: 0
        rss_bytes:
          type: integer
          minimum: 0
        last_health_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        recycle_at:
          type: string
          format: date-time
    ConcurrencyView:
      type: object
      additionalProperties: false
      required: [target, identity_ref, current_cap, min, max, in_flight, last_change_at]
      properties:
        target:
          type: string
        identity_ref:
          type: string
        current_cap:
          type: integer
          minimum: 0
        min:
          type: integer
          minimum: 0
        max:
          type: integer
          minimum: 0
        in_flight:
          type: integer
          minimum: 0
        last_change_reason:
          type: string
        last_change_at:
          type: string
          format: date-time
    BrowserInstanceListResponse:
      type: object
      additionalProperties: false
      required: [api_version, kind, data, next_cursor, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        kind:
          type: string
          const: browser_instances
        data:
          type: array
          items:
            $ref: "#/components/schemas/BrowserInstance"
        next_cursor:
          type: ["string", "null"]
        trace_id:
          type: string
          minLength: 1
    ProviderContextListResponse:
      type: object
      additionalProperties: false
      required: [api_version, kind, data, next_cursor, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        kind:
          type: string
          const: provider_contexts
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProviderContext"
        next_cursor:
          type: ["string", "null"]
        trace_id:
          type: string
          minLength: 1
    BrowserTabListResponse:
      type: object
      additionalProperties: false
      required: [api_version, kind, data, next_cursor, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        kind:
          type: string
          const: browser_tabs
        data:
          type: array
          items:
            $ref: "#/components/schemas/BrowserTab"
        next_cursor:
          type: ["string", "null"]
        trace_id:
          type: string
          minLength: 1
    ConcurrencyListResponse:
      type: object
      additionalProperties: false
      required: [api_version, kind, data, next_cursor, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        kind:
          type: string
          const: concurrency_ceilings
        data:
          type: array
          items:
            $ref: "#/components/schemas/ConcurrencyView"
        next_cursor:
          type: ["string", "null"]
        trace_id:
          type: string
          minLength: 1
    BrowserTopologySummary:
      type: object
      additionalProperties: false
      required: [api_version, kind, tenant_id, total_instances, total_contexts, total_tabs, instances_by_state, contexts_by_login_state, tabs_by_state, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        kind:
          type: string
          const: browser_topology_summary
        tenant_id:
          type: string
        total_instances:
          type: integer
          minimum: 0
        total_contexts:
          type: integer
          minimum: 0
        total_tabs:
          type: integer
          minimum: 0
        instances_by_state:
          type: object
          additionalProperties:
            type: integer
        contexts_by_login_state:
          type: object
          additionalProperties:
            type: integer
        tabs_by_state:
          type: object
          additionalProperties:
            type: integer
        trace_id:
          type: string
          minLength: 1
    SSOConfigRequest:
      type: object
      additionalProperties: false
      required: [type]
      description: >-
        OIDC or SAML configuration upsert. Secret material is referenced by
        ClientSecretRef or supplied as public IdP certificates; plaintext
        client secrets are not accepted.
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        type:
          type: string
          enum: [oidc, saml]
        oidc:
          type: object
          additionalProperties: true
          description: OIDC configuration; required when type=oidc. Must include a non-empty issuer.
        saml:
          type: object
          additionalProperties: true
          description: SAML configuration; required when type=saml. Must include an IdP signing certificate (PEM).
    SSOConfigResponse:
      type: object
      additionalProperties: false
      required: [api_version, tenant_id, oidc, saml, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        tenant_id:
          type: string
        oidc:
          type: array
          items:
            type: object
            additionalProperties: true
        saml:
          type: array
          items:
            type: object
            additionalProperties: true
        trace_id:
          type: string
          minLength: 1
    SSOCallbackRequest:
      type: object
      additionalProperties: false
      description: >-
        OIDC id_token or SAML assertion verification input. Exactly one of
        id_token (OIDC) or assertion (SAML) is supplied for the matching route.
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        id_token:
          type: string
          description: OIDC id_token to verify (for /v1/sso/oidc/callback).
        assertion:
          type: string
          description: SAML assertion XML to verify (for /v1/sso/saml/acs).
    SSOSession:
      type: object
      additionalProperties: false
      required: [api_version, tenant_id, app_id, role, subject, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        tenant_id:
          type: string
        app_id:
          type: string
        role:
          type: string
        subject:
          type: string
        email:
          type: string
        session_token:
          type: string
          description: Opaque server-side session token, present when session management is enabled.
        session_expires_at:
          type: string
          format: date-time
          description: Session expiry, present when session management is enabled.
        trace_id:
          type: string
          minLength: 1
    LogoutResult:
      type: object
      additionalProperties: false
      required: [api_version, revoked, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        revoked:
          type: boolean
          description: True when an active session was revoked; false when no matching session existed (idempotent).
        trace_id:
          type: string
          minLength: 1
    AuditExportRequest:
      type: object
      additionalProperties: false
      description: Optional filter for the audit export. An empty body exports the full tenant chain.
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        idempotency_key:
          type: string
          description: Accepted for parity with the idempotent-mutation convention. Audit export is a read; the key is ignored.
        since:
          type: string
          format: date-time
          description: Inclusive lower bound (RFC3339). Unparseable or empty means unbounded.
        until:
          type: string
          format: date-time
          description: Inclusive upper bound (RFC3339). Unparseable or empty means unbounded.
        limit:
          type: integer
          minimum: 0
          description: Maximum records to export. 0 means no limit.
        range:
          type: object
          additionalProperties: false
          description: Optional sequence window applied after the time-range query.
          properties:
            from_sequence:
              type: integer
              format: int64
              description: Inclusive lower bound on record sequence.
            to_sequence:
              type: integer
              format: int64
              description: Inclusive upper bound on record sequence.
    AuditRecord:
      type: object
      additionalProperties: false
      required: [id, seq, tenant_id, app_id, actor, action, resource, outcome, occurred_at, prev_hash, record_hash]
      properties:
        id:
          type: string
        seq:
          type: integer
          format: int64
        tenant_id:
          type: string
        app_id:
          type: string
        actor:
          type: string
        action:
          type: string
        resource:
          type: string
        outcome:
          type: string
        occurred_at:
          type: string
          format: date-time
        attributes:
          type: object
          additionalProperties: true
        prev_hash:
          type: string
        record_hash:
          type: string
    AuditExportResult:
      type: object
      additionalProperties: false
      required: [api_version, status, stats, chain_valid, head_hash, count, records, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        status:
          type: string
          enum: [accepted]
        stats:
          type: object
          additionalProperties: false
          required: [enqueued, exported, dropped, failed]
          properties:
            enqueued:
              type: integer
              minimum: 0
            exported:
              type: integer
              minimum: 0
            dropped:
              type: integer
              minimum: 0
            failed:
              type: integer
              minimum: 0
        chain_valid:
          type: boolean
          description: Whether the exported records form a verified tamper-evident hash chain.
        head_hash:
          type: string
          description: Current head record hash of the tenant audit chain.
        count:
          type: integer
          minimum: 0
        records:
          type: array
          items:
            $ref: "#/components/schemas/AuditRecord"
        trace_id:
          type: string
          minLength: 1
    CacheStatus:
      type: object
      additionalProperties: false
      required: [api_version, profile, enabled, entries, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        profile:
          type: string
          enum: [edge, small, standard, enterprise]
        enabled:
          type: boolean
        entries:
          type: array
          items:
            type: object
            additionalProperties: true
        trace_id:
          type: string
          minLength: 1
    JobMutationRequest:
      type: object
      additionalProperties: false
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        idempotency_key:
          type: string
          minLength: 16
          maxLength: 128
          pattern: "^[A-Za-z0-9._:-]+$"
        job_id:
          type: string
          pattern: "^job_[A-Za-z0-9]+$"
          description: Optional body copy of the path job_id; when present it must match the route.
        reason:
          type: string
          minLength: 1
          maxLength: 512
        metadata:
          type: object
          additionalProperties: true
    ArtifactRecord:
      type: object
      additionalProperties: false
      required: [job_id, key, content_type, size_bytes, created_at]
      properties:
        job_id:
          type: string
        key:
          type: string
          minLength: 1
        content_type:
          type: string
        size_bytes:
          type: integer
          minimum: 0
        checksum:
          type: string
          description: Hex-encoded SHA-256 checksum when known.
        created_at:
          type: string
          format: date-time
    ArtifactListResponse:
      type: object
      additionalProperties: false
      required: [api_version, job_id, kind, data, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        job_id:
          type: string
        kind:
          type: string
          const: artifacts
        data:
          type: array
          items:
            $ref: "#/components/schemas/ArtifactRecord"
        trace_id:
          type: string
          minLength: 1
    ArtifactResponse:
      type: object
      additionalProperties: false
      required: [api_version, artifact, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        artifact:
          $ref: "#/components/schemas/ArtifactRecord"
        idempotent_replay:
          type: boolean
        trace_id:
          type: string
          minLength: 1
    WebhookReplayRequest:
      type: object
      additionalProperties: false
      required: [delivery_id, reason]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        idempotency_key:
          type: string
          minLength: 16
          maxLength: 128
          pattern: "^[A-Za-z0-9._:-]+$"
        webhook_id:
          type: string
          minLength: 1
          maxLength: 128
        delivery_id:
          type: string
          minLength: 1
          maxLength: 128
        reason:
          type: string
          minLength: 1
          maxLength: 512
        metadata:
          type: object
          additionalProperties: true
    WebhookReplayResponse:
      type: object
      additionalProperties: false
      required: [api_version, status, idempotent_replay, audit_event, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        status:
          type: string
          enum: [accepted]
        idempotent_replay:
          type: boolean
        webhook_id:
          type: string
        delivery_id:
          type: string
        audit_event:
          type: string
          enum: [webhook.delivery_replayed]
        metadata:
          type: object
          additionalProperties: true
        trace_id:
          type: string
          minLength: 1
    JobStatus:
      type: string
      enum:
        - created
        - queued
        - assigned
        - running
        - token_streaming
        - completing
        - completed
        - completed_with_warnings
        - failed_retryable
        - failed_terminal
        - dead_letter
        - cancelled
        - timed_out
    HealthStatus:
      type: object
      additionalProperties: false
      required: [status, service, checked_at, trace_id]
      properties:
        status:
          type: string
          enum: [ok]
        service:
          type: string
          const: ubag-gateway
        version:
          type: string
          minLength: 1
        checked_at:
          type: string
          format: date-time
        checks:
          type: object
          additionalProperties: true
        trace_id:
          type: string
          minLength: 1
    ReadinessStatus:
      type: object
      additionalProperties: false
      required: [ready, status, service, checked_at, trace_id]
      properties:
        ready:
          type: boolean
        status:
          type: string
          enum: [ready, not_ready]
        service:
          type: string
          const: ubag-gateway
        version:
          type: string
          minLength: 1
        checked_at:
          type: string
          format: date-time
        checks:
          type: object
          additionalProperties: true
        dependencies:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [name, status]
            properties:
              name:
                type: string
                minLength: 1
              status:
                type: string
                enum: [ready, not_ready, degraded]
              latency_ms:
                type: integer
                minimum: 0
              message:
                type: string
        trace_id:
          type: string
          minLength: 1
    VersionStatus:
      type: object
      additionalProperties: false
      required: [service, version, api_versions, default_api_version, trace_id]
      properties:
        service:
          type: string
          const: ubag-gateway
        version:
          type: string
          minLength: 1
        commit:
          type: ["string", "null"]
        built_at:
          type: ["string", "null"]
          format: date-time
        api_versions:
          type: array
          items:
            type: string
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
          minItems: 1
        default_api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        trace_id:
          type: string
          minLength: 1
    JobListResponse:
      type: object
      additionalProperties: false
      required: [api_version, jobs, next_cursor, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/JobResponse"
        next_cursor:
          type: ["string", "null"]
        trace_id:
          type: string
          minLength: 1
    JobEventListResponse:
      type: object
      additionalProperties: false
      required: [api_version, job_id, events, next_cursor, trace_id]
      properties:
        api_version:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        job_id:
          type: string
          pattern: "^job_[A-Za-z0-9]+$"
        events:
          type: array
          items:
            $ref: "#/components/schemas/JobEvent"
        next_cursor:
          type: ["string", "null"]
          description: Last returned event sequence as a string when another page may be available, otherwise null.
        trace_id:
          type: string
          minLength: 1
